body{
    margin: 0;
    padding: 0%;
    background: url(../img/white.jpg) no-repeat;
    background-size: cover;
}
.box{
    width: 500px;
    background: rgba(255, 147, 5, 0.938);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box-img{
    width: 200px;
    height: 100px;
    
}
.box p{
    text-align: justify;
    text-align: center;

}
.header ul {
    list-style-type:none;
    padding-top: 10px;
    padding-left: 5%;
}

.header li {
    float: left;
    margin: auto;
    padding:5px 10px;
}
.header a:hover {
    color: #007aff;
}

.header a {
    color: #787b81;
}